*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --bg-c:#373B69;
  --movie-bgc:#708ED2;
  --header-c:#333;
  --info-c:#7bc9ef;
  --place-holderc:#59598b;
  --card-bgc:#292946;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color:#0f0f0f;
}

header{
  background-color:var(--header-c);
  padding:20px;
  text-align: center;
}
header .logo{
  color:white;
  font-size:25px;
  cursor: pointer;
  transition:0.5s;
}
header span{
  font-weight: bold;
  font-size: 30px;
  color:var(--info-c);
}

header .logo:hover{
  transform: translate(10px, 5px) scale(1.2);
}

.search{
  text-align: center;
}
.search input{
  background-color: transparent;
  border: 1px solid #777;
  width:70%;
  padding:10px 20px;
  border-radius:20px;
  margin:20px 0; 
  outline: none;
  color:white;
}


main{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap:5px;
}

main .content {
  padding:10px;
  background-color:#222;
  position: relative;
  overflow: hidden;
}

main .content img{
  width:100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  color:white;
  font-size:30px;
}

main .content .info{
  position: absolute;
  bottom:-100px;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:calc(100% );
  padding:10px;
  color:white;
  background: -webkit-linear-gradient(#47565c, #222);
  transition: 0.3s ease-in;
  cursor: pointer;
}

main .content:hover .info{
  bottom:0;
  left:0;
}
main .content:hover img{
  transform: scale(1.5);
  cursor: pointer;
}
main .content .info h3{
  font-weight: normal;
  text-transform: capitalize;
}
main .content .info span{
  background-color: var(--bg-c);
  padding:5px;
}
main .content .info .green{
  color:green;
}
main .content .info .red{
  color:red;
}
main .content .info .orange{
  color:orange;
}


.popub-overlay{
  position: fixed;
  display: none;
  background:linear-gradient(rgba(0, 0, 0 , 0.7) ,rgba(100,100,100,0.3)) ;
  background-size: cover;
  background-position: center;
  width:100%;
  height: 100vh;
  left:0;
  top:0;
  z-index: 1000;
}

.msg{
  width:100%;
  text-align: center;
  color:white;
  text-transform:capitalize;
}

.msg h3 {
  font-size:40px;
  background: -webkit-linear-gradient(#113, #202a2e);  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:767px){
  .msg h3{
    font-size: 20px;
  }
}

.popub{
  display: none;
  position: fixed;
  top:50%;
  left:50%;
  width:56%;
  height: 80%;
  margin:0 auto;
  transform: translate(-50%,-50%);
  background:linear-gradient(#fff, #333);
  border-radius:15px;
  z-index: 1001;
  background-size: cover;
  transition: 0.5s;
  overflow:scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.popub::-webkit-scrollbar{
  display: none;
}

.popub .header{
  display: flex;
  justify-content: flex-start;
}

.popub .header .info{
  padding:10px;
  display: flex;
  flex-direction: column;
}

.popub .header .info h2{
  font-size: 20px;
  font-weight: normal;
  padding: 5px 10px;
}
.popub .header .info ul{
  list-style: none;
  display: flex;
  gap:10px
}
.popub .header .info ul li {
  padding:5px 10px;
  border:1px solid #777;
  border-radius: 10px;
  background-color: #a8bdc7;
  box-shadow: 1px 1px #333;
  color:#222;
}

.popub .header img{
  width:250px;
  padding:10px
}

#rate{
  display: inline-block;
padding: 10px;
background-color:#218ec3;
border-radius: 50%;
margin: 0 10px 0 0;
color:white;
width: fit-content;
text-shadow: 1px 1px #333;
box-shadow: 1px 1px #333;
}

#views{
  font-weight: bold;
  color:#333;
}

#mt{
  font-size:40px;
  margin: 10px 0 ;
  color:#218ec3;
}

#y{
  font-size: 19px;
  padding:10px;
  text-transform: capitalize;
}

#oV{
  padding:20px;
  font-size: 17px;
  letter-spacing: 1px;
}

.trailer{
  text-align: center;
}

iframe {
  width: fit-content ;
}

.active {
  display: flex;
  flex-direction: column;

}

.close {
  display: block;
  position: absolute;
  right: 10px;
  top:0;
  text-align: end;
  padding:10px;
  color:red;
  font-weight: Bold;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
  border:none;
  background-color: none;
}


@media (max-width:767px){
  .popub{
    width:90%;
  }
  .popub .header .info ul{
    flex-direction: column;
  }
  #mt{
    font-size: 20px;
  }
  #oV{
    font-size: 15px;
  }
  #y{
    font-size: 14px;
  }
  .close{
    right:0;
  }
  
}
